<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
  <link href="../../Content/Office.css" rel="stylesheet" type="text/css" />
  <link href="../../bower_components/microsoft.office.js/styles/OfficeThemes.css" rel="stylesheet" type="text/css" />
  <link href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css" rel="stylesheet">
  <link href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css" rel="stylesheet">
  <script src="//appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

  <!-- To enable offline debugging using a local reference to Office.js, use:                        -->
  <!-- <script src="../../bower_components/jquery/jquery.min.js"></script>  -->
  <!-- <script src="../../bower_components/microsoft.office.js/scripts/Office/1/office.js"></script>  -->
  <!-- <script src="../../content/fabric.min.css"></script>  -->
  <!-- <script src="../../content/fabric.components.min.css"></script>  -->
  <!-- <script src="../../scripts/jquery.fabric.min.js"></script>  -->
  <script src="../../scripts/MicrosoftAjax.js"></script>

  <link href="../App.css" rel="stylesheet" type="text/css" />
  <script src="../App.js"></script>

  <link href="home.css" rel="stylesheet" type="text/css" />
  <script src="home.js"></script>
</head>

<body id="main" ng-app="readHome" ng-controller="FormController as formCtrl">
  <div ng-show="formCtrl.showTech" class="center" id="content-main">
    <div id="background">
      <img src="../../images/header.png"></img>
      <div class="resourceButton" ng-repeat="tech in formCtrl.technology" ng-click="formCtrl.setTech(tech)">
        <img class="valign" ng-src="{{tech.url}}"></img>
      </div>
    </div>

  </div>
  <div id="mainContent">
    <i class="ms-Icon ms-Icon--chevronThickLeft ms-fontColor-blue ms-font-l" ng-click="formCtrl.goBack()" aria-hidden="true"><span class="ms-fontColor-blue ms-font-l">Back</span></i>
    <form id="form" class="center" ng-show="!formCtrl.showTech" ng-submit="formCtrl.addRequest()">
      <h2 class="ms-font-xl">{{formCtrl.information.Technology}}</h2>
      <div ng-show="formCtrl.showMain">
        <div class="ms-Grid">
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Requestor:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9"><input type="text" id="pbeName" ng-model="formCtrl.information.pbe"></input></div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Product's Website:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9"><input type="text" ng-model="formCtrl.information.website"></input></div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">CRM Link:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9"><input type="text" ng-model="formCtrl.information.crm"></input></div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Stage:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <select ng-model="formCtrl.information.stage">
                <option ng-repeat="stage in formCtrl.stage">{{stage}}</option>
              </select>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Engagement Requested:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <select ng-model="formCtrl.information.engagement">
                <option ng-repeat="engage in formCtrl.engagement">{{engage}}</option>
              </select>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Requested Date for Engagement:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
                <input type="date" ng-model="formCtrl.information.date"></input>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">What outcomes does the partner have in releasing their solution on our {{formCtrl.information.Technology}} platform?</div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
              <textarea  id="postEngage" placeholder="Give information about sponsors, timeline to finish, biz and dev lead, cloud status, consumption, or any other type of relevant information here." ng-model="formCtrl.information.reason"></textarea>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Duration of meeting:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <select ng-model="formCtrl.information.time">
                <option ng-repeat="time in formCtrl.timeOptions">{{time}}</option>
              </select>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Location of partner:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <input type="text" ng-model="formCtrl.information.location"></input>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
              <input type="checkbox" checked="checked" ng-click="formCtrl.canSkype()"></input> Skype meeting acceptable
            </div>
          </div>
          <div class="ms-Grid-row" ng-show="formCtrl.skype">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Location of meeting:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <input type="text" ng-model="formCtrl.information.meeting"></input>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="formCtrl.showArrow" ng-click="formCtrl.cont()" id="cont">
        <i class="ms-Icon ms-Icon--arrowRight ms-fontColor-blue ms-font-xxl" aria-hidden="true"></i>
      </div>
      <div class="ms-Grid" ng-show="formCtrl.showCont">
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Industry/Vertical:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <input type="text" ng-model="formCtrl.cloudInfor.industry"></input>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Cloud Status:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <select ng-model="formCtrl.cloudInfor.status">
              <option ng-repeat="status in formCtrl.cloudStatus">{{status}}</option>
            </select>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Cloud Provider:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <select ng-model="formCtrl.cloudInfor.provider">
              <option ng-repeat="prov in formCtrl.cloudProv">{{prov}}</option>
            </select>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Annual Consumption:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <select ng-model="formCtrl.cloudInfor.consumption">
              <option ng-repeat="rate in formCtrl.consumption">{{rate}}</option>
            </select>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">Workloads:</div>
        </div>
        <div ng-repeat="(key, value) in formCtrl.workloads" class="ms-Grid=row">
          <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
            <input type="checkbox" name="load" ng-click="formCtrl.setWork(work)">{{key}}
          </div>
        </div>
      </div>
      <button ng-show="formCtrl.showCont" class="clearLeft ms-Button" type="submit">Submit</button>
    </form>
    <div id="submission" class="ms-fontWeight-semilight ms-fontColor-success">
      <i class="ms-Icon ms-Icon--check"></i>Successfully submitted. Please hit "send" and someone from the v-team will get back to you within 24 hours.<br/>
      <div class="resourceButton">
        <button class="ms-Button" ng-click="formCtrl.goHome()">Home</button>
      </div>
    </div>
    <div id="error" class="ms-fontWeight-semilight ms-fontColor-error">
      <i class="ms-Icon ms-Icon--alert2"></i> There was a problem processing your request.
    </div>
  </div>
</body>
</html>