<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
  <link href="../../Content/Office.css" rel="stylesheet" type="text/css" />
  <link href="../../bower_components/microsoft.office.js/styles/OfficeThemes.css" rel="stylesheet" type="text/css" />
  <link href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css" rel="stylesheet">
  <link href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css" rel="stylesheet">
  <script src="//appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

  <!-- To enable offline debugging using a local reference to Office.js, use:                        -->
  <!-- <script src="../../bower_components/jquery/jquery.min.js"></script>  -->
  <!-- <script src="../../bower_components/microsoft.office.js/scripts/Office/1/office.js"></script>  -->
  <!-- <script src="../../content/fabric.min.css"></script>  -->
  <!-- <script src="../../content/fabric.components.min.css"></script>  -->
  <!-- <script src="../../scripts/jquery.fabric.min.js"></script>  -->
  <script src="../../scripts/MicrosoftAjax.js"></script>

  <link href="../App.css" rel="stylesheet" type="text/css" />
  <script src="../App.js"></script>

  <link href="home.css" rel="stylesheet" type="text/css" />
  <script src="home.js"></script>
</head>

<body id="main" ng-app="readHome" ng-controller="FormController as formCtrl">
  <div ng-show="formCtrl.showTech" class="center" id="content-main">
    <div id="background">
      <img src="../../images/header.png"></img>
      <div class="resourceButton" ng-repeat="tech in formCtrl.technology" ng-click="formCtrl.setTech(tech)">
        <img class="valign" ng-src="{{tech.url}}"></img>
      </div>
      <!--<span class="ms-font-m-plus">Which technology area do you need help with?</span>-->
    </div>
    <!--<button class="resourceButton" ng-repeat="tech in formCtrl.technology" ng-click="formCtrl.setTech(tech)">{{tech}}</button>-->

  </div>
  <div id="mainContent">
    <form id="form" class="center" ng-show="!formCtrl.showTech" ng-submit="formCtrl.addRequest()">
      <h2 class="ms-font-xl">{{formCtrl.information.Technology}}</h2>
      <div class="ms-Grid">
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Requestor:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9"><input type="text" required id="pbeName" ng-model="formCtrl.information.pbe"></input></div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Product's Website:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9"><input required type="text" ng-model="formCtrl.information.website"></input></div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Engagement Requested:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <select ng-model="formCtrl.information.engagement">
              <option ng-repeat="engage in formCtrl.engagement" ng-click="formCtrl.setEngage(engage)">{{engage}}</option>
            </select>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Requested Date for Engagement:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <input type="date" required ng-model="formCtrl.information.date"></input>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">Why does this partner want to be a part of {{formCtrl.information.Technology}}?</div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
            <textarea required id="postEngage" placeholder="Give information about sponsors, timeline to finish, biz and dev lead, cloud status, consumption, or any other type of relevant information here." ng-model="formCtrl.information.reason"></textarea>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Duration of meeting:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <input type="text" required ng-model="formCtrl.information.time"></input>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Location of partner:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <input type="text" required ng-model="formCtrl.information.location"></input>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
            <input type="checkbox" checked="checked" ng-click="formCtrl.canSkype()"></input> Skype meeting acceptable
          </div>
        </div>
        <div class="ms-Grid-row" ng-show="formCtrl.skype">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Location of meeting:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <input type="text" class="boxes" ng-model="formCtrl.information.meeting"></input>
          </div>
        </div>
      </div>
      <button class="clearLeft ms-Button" ng-click="formCtrl.goBack()">Go Back</button>
      <button class="clearLeft ms-Button" type="submit">Submit</button>
    </form>
    <div id="submission" class="ms-fontWeight-semilight ms-fontColor-success">
      <i class="ms-Icon ms-Icon--check"></i>Successfully submitted. Please hit "send" and someone from the v-team will get back to you within 24 hours.<br/>
      <div class="resourceButton">
        <button class="ms-Button" ng-click="formCtrl.goHome()">Home</button>
      </div>
    </div>
    <div id="error" class="ms-fontWeight-semilight ms-fontColor-error">
      <i class="ms-Icon ms-Icon--alert2"></i> There was a problem processing your request.
    </div>
  </div>
</body>

</html>