
  <div id="main" ng-controller="FormController as formCtrl">
    <i ng-show="showBack" class="ms-Icon ms-Icon--chevronThickLeft ms-fontColor-blue ms-font-l" ng-click="goBack()" aria-hidden="true"><span class="ms-fontColor-blue ms-font-l link">Back</span></i>
    <form id="form" class="center" ng-submit="addRequest()">
      <h2 class="ms-font-xl">KSDFCKLNSDLKCVNDSLKVKLSDVLKSD</h2>
      <!-- main information -->
      <div ng-show="showMain">
        <div class="ms-Grid">
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">PBE:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <select ng-model="information.pbe">
                <option ng-repeat="pbe in pbes">{{pbe}}</option>
              </select>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">ISV:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9"><input type="text" ng-model="information.isv"></input>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">SI:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9"><input type="text" ng-model="information.si"></input>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Product's Website Link:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9"><input type="text" ng-model="information.website"></input>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">CRM Link:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9"><input type="text" ng-model="information.crm"></input>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Stage:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <select ng-model="information.stage">
                <option ng-repeat="stage in stages">{{stage}}</option>
              </select>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">City of partner:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <input type="text" ng-model="information.city"></input>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">State of partner:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <input type="text" ng-model="information.state"></input>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Engagement Requested:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <select ng-model="information.engagement">
                <option ng-repeat="engage in engagement">{{engage}}</option>
              </select>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Requested Date for Engagement:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <input type="date" ng-model="information.date"></input>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">What outcomes does the partner have in releasing their solution on our {{information.Technology}} platform?</div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
              <textarea id="postEngage" placeholder="Give information about sponsors, timeline to finish, biz and dev lead, funding or any other type of relevant information here."
                ng-model="information.reason"></textarea>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Duration of meeting:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <select ng-model="information.time">
                <option ng-repeat="time in timeOptions">{{time}}</option>
              </select>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
              <input type="checkbox" checked="checked" ng-click="canSkype()"></input> Skype meeting acceptable
            </div>
          </div>
          <div class="ms-Grid-row" ng-show="skype">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Location of meeting:</div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
              <input type="text" ng-model="information.meeting"></input>
            </div>
          </div>
        </div>
      </div>
      <!-- page 2 cloud information -->
      <div ng-click="cont()" ng-show="showArrow" id="cont">
        <i class="ms-Icon ms-Icon--arrowRight ms-fontColor-blue ms-font-xxl link" aria-hidden="true"></i>
      </div>
      <div class="ms-Grid" ng-show="showCont">
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Industry/Vertical:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <input type="text" ng-model="cloudInfor.industry"></input>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Cloud Status:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <select ng-model="cloudInfor.status">
              <option ng-repeat="status in cloudStatus">{{status}}</option>
            </select>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Cloud Provider:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <select ng-model="cloudInfor.provider">
              <option ng-repeat="prov in cloudProv">{{prov}}</option>
            </select>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md5 ms-u-lg3">Annual Consumption:</div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md7 ms-u-lg9">
            <select ng-model="cloudInfor.consumption">
              <option ng-repeat="rate in consumption">{{rate}}</option>
            </select>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">Workloads:</div>
        </div>
        <div ng-repeat="(key, value) in workloads" class="ms-Grid=row">
          <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
            <input type="checkbox" name="load" ng-model="workloads[key]">{{key}}
          </div>
        </div>
      </div>
      <button ng-show="showSubmit" class="clearLeft ms-Button" type="submit">Submit</button>
    </form>
    <div id="submission" class="ms-fontWeight-semilight ms-fontColor-success">
      <i class="ms-Icon ms-Icon--check"></i>Successfully submitted. Please send your email and someone from the V-Team will
      get back to you within 24 hours.<br/>
    </div>
    <div id="error" class="ms-fontWeight-semilight ms-fontColor-error">
      <i class="ms-Icon ms-Icon--alert2"></i> There was a problem processing your request. Contact jewon@microsoft.com with
      details of your steps to reproduce the error.
    </div>
  </div>
